.App {
  text-align: left;
  /* font-family: 'Montserrat', sans-serif; */
  font-style: bold;
  height: calc(100vh - 120px);
  margin-left: 200px;
  padding: 45px;
}

/* .nav {

} */

/* The sidenav */
.nav {
  height: 100%;
  width: 210px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  border-right: 1px solid #791E94;
  overflow-x: hidden;
  padding-top: 50px;
  color: #791E94;
  /* list-style: none; */
  display: flex;
  align-items: flex-start;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
}

.navlist {
  float: inline-end;
  /* list-style: none; */
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: 700px;
  padding-left: 30px;
  font-size: 25px;
}

.PodMyne {
  color: #791E94;
  font-family: 'Bitter', serif;
  padding: 10px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

input[type=button], input[type=submit] {
  background-color: orangered;
  color: white;
  padding: 10px 10px;
  border-radius: 15px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;

}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid orangered;
  border-radius: 4px;
}

.results {
  /* border: 1px solid black; */
  display: flex;
  overflow-x: auto;
  margin-right: 15px;
  text-align: left;
  /* height: 100%; */
  position: absolute;
  width: 100%;
  /* height: auto; */
  /* background:linen; */
  /* padding: 30px; */
  /* size: 400px; */

}

hr.solid {
  border: 1px solid black;
}

.buttons {
  background-color: white;
  border: none;
  color:#791E94;
  border: 1px solid #791E94;
  padding: 10px 20px;
  border-radius: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
}

.buttons:active {
  background-color: #791E94;
  color: white;
}

.buttons:hover {
  background-color: #791E94;
  color: white;
}

.resultsTitle {
  text-align: inherit;
}

.recTitle {
  font-family: 'Montserrat', sans-serif;
}

.recAuthor {
  font-family: 'Montserrat', sans-serif;
  color: orangered;
}

.recCategory {
  font-family: 'Montserrat', sans-serif;
  color: #791E94;
}

.recWebsite {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.recDescription {
  height: 20vh;
  overflow-y: scroll;
  font-family: 'Montserrat', sans-serif;
}

.cards {
    /* align-items: center; */
    /* width: 100%; */
    /* display: flex; */
    /* display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center; */
    /* flex-direction: row; */
    /* border: 1px solid #282c34; */
    /* max-width: 420px; */
    padding: 20px;
    list-style: none;
    /* display: inline; */
    /* display: grid; */
    /* justify-content: space-around; */
    /* flex-direction: row; */
}

/* .cardlist {
  display: inline;
  float: left;
} */

/* .results {
  max-width: 100px;
} */